body{
    background-color: rgb(252, 247, 231);
    width: 60%;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#topContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-right: auto;
}

.newBookBtn, .submitBtn{
    background-color: green;
    color: white;
    padding: 6px 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 2px 5px #000000;
}

.newBookBtn:active, .submitBtn:active{
    background-color: rgb(4, 74, 4);
    color: rgb(178, 177, 177);
    box-shadow: 1px 2px 5px #000000 inset;
}

#library{
    border: 4px solid green;
    border-radius: 10px;
    padding: 3px 15px;
    background-color: whitesmoke;
}

.book{
    display: flex;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
}

.bookR{
    margin-left: auto;
}

.bookR>button, .cancelSubmit{
    background-color: red;
    color: white;
    padding: 6px 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 2px 5px #000000;
}

.bookR>button:active, .cancelSubmit:active{
    background-color: rgb(165, 12, 12);
    color: rgb(178, 177, 177);
    box-shadow: 1px 2px 5px #000000 inset;
}

#hideForm{
    display: none;
}

#showForm{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label{
    font-size: .9em;
}

input{
    width: 250px;
    font-size: 1.2em;
}

.formRow{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.formInput{
    display: flex;
    flex-direction: column;
}

.formRadio{
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
}

.radioBtn{
    width: 25px;
}

.formBtns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.cancelSubmit, .submitBtn{
    width: 100px;
    padding: 6px 10px;
}